.navbar-link {
  margin-left: .8rem;
  margin-right: .8rem;
}

.right-links {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 3rem;
  font-family: 'Caudex', serif;
  font-size: 1.5vw;
}

.left-name {
  font-style: italic;
  text-align: center;
  margin-bottom: 1.6rem;
}

.navbar-name {
  font-family: 'Caudex', serif;
  font-size: 2rem;
  margin-bottom: 0px;
}

.navbar-description {
  font-family: 'Caudex', serif;
  font-size: 1rem;
}

.top-bar-full {
  padding: 0px;
}
