.showpage-main-image {
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.showpage-image-titles{
  align: justify;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-family: 'Oleo Script Swash Caps', cursive;
  font-weight: bolder;
}

.showpage-main-image-title {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 3rem;
  font-family: 'Oleo Script Swash Caps', cursive;
  font-weight: 900;
}

.show-page-image:hover {
  opacity: 0.7;
}

.showpage-main-image-description {
  margin: 1rem;
  font-family: 'Oleo Script Swash Caps', cursive;
  text-align: center;
}

.description-text {
  font-size: .7rem;
  font-family: 'Oleo Script Swash Caps', cursive;
  text-align: center;
  font-weight: lighter;
  margin: .5rem;
}

.show-page-quote {
  margin-left: 14rem;
  margin-right: 14rem;
  margin-top: 1rem;
  text-align: center;
  font-family: 'Oleo Script Swash Caps', cursive;
}

.show-page-quote p{
  font-size: 2rem;
  font-weight: 900;
  font-style: italic;
}

.artist-name {
  text-align: center;
  font-family: 'Noto Serif TC', serif;
}

.artist-title {
  text-align: center;
  font-family: 'Noto Serif TC', serif;
  margin-bottom: 4rem;
}

.artist-image {
  margin-left: auto;
  margin-right: auto;
  font-family: 'Noto Serif TC', serif;
  margin-top: 2rem;
}

.artist-quote {
  text-align: center;
  font-weight: 800;
}

.artist-bio {
  margin-top: 3rem;
}

.inspiration-quotes {
  font-size: 1rem;
  font-family: 'NotoSerif TC', serif;
}

.inspiration-page-image {
  margin: 5px;
  height: 4rem;
  width: 6rem;
}

.top-inspirations {
  margin-top: 1rem;
}

.inspirations-header {
  font-size: 3rem;
  font-family: 'NotoSerif TC', serif;
  text-align: center;
  margin-bottom: 1rem;
}

.homepage-image {
  margin-left: auto;
  margin-right: auto;
  height: 60%;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 5rem;
}

.homepage-title {
  font-family: 'NotoSerif TC', serif;
  font-style: italic;
  font-weight: 100;
  font-size: 5.5rem;
  text-align: center;
}

.painter-and-illustrator {
  font-family: 'NotoSerif TC', serif;
  font-style: italic;
  font-weight: 100;
  text-align: center;
  font-size: 2rem;
}

.animal-images {
  margin-top: 5rem;
  width: 33%;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;
  margin-right: 0px;
  text-align: center;
}

.show-page-image {
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  width: 100%;
  height: auto;
  cursor: pointer;
  transition: 0.3s;
}

.individual-animal-image{
  max-height: 115px;
}

.all-animal-tiles {
}
